<div>
    <nav  class="navbar navbar-expand navbar-dark" style="background-color: #fff;">
        <button mat-raised-button style="background-color: #6200ee;color: #fff;" (click)="newMatType()"> Ajouter
          Type-Materiel<mat-icon>add</mat-icon></button>
          <button mat-raised-button style="background-color: #6200ee;color: #fff;margin-left:20px" (click)="loadData()"> load
           <mat-icon>add</mat-icon></button>
      </nav>
    <mat-table #grid [dataSource]="this.mattypes$">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a style="cursor: hand;cursor: pointer;color:#5eba7d"><span> edit
                    </span></a> |
                <a style="cursor: hand;cursor: pointer;color: #e83112;"><span>
                        effacer</span></a>

            </mat-cell>
        </ng-container>
        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="['name','description','action']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['name','description','action']"></mat-row>
    </mat-table>
</div>