
.edit-course-form {
    min-width: 300px;
 
  }
  
  .mat-form-field {
      display: block;
     
  }
  
  .mat-dialog-actions {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 72px;
    align-items: center;
    box-sizing: content-box;
    margin-bottom: -24px;
  }
  .mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    overflow:hidden;
   
   
  }