<div class="edit-course-form">
    <h2 mat-dialog-title>{{description}}</h2>
    <mat-dialog-content>
        <mat-dialog-content [formGroup]="form">
            <mat-form-field>

                <input matInput placeholder="Name" formControlName="name">

            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Description" formControlName="description">
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button (click)="close()">Close</button>

            <button mat-raised-button style="background-color:#5eba7d" (click)="save()">Save</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</div>