<form [formGroup]="form" class="matobject" (ngSubmit)="addMatObject(form.value)">
    <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput placeholer="nom" formControlName="name" #nom>
        <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <textarea matInput placeholder="Description" formControlName="description" cdkTextareaAutosize
            [cdkAutosizeMinRows]="2" [cdkAutosizeMaxRows]="5">
</textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-select formControlName="assur" placeholder="Select Assurance">
            <mat-option [value]="'cant'">cat</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">

        <input matInput formControlName="dateAssur" placeholder="Release date" [matDatepicker]="releasedAtPicker">
        <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
        </mat-datepicker-toggle>
        <mat-datepicker #releasedAtPicker [dateClass]="dateClass">
        </mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-select formControlName="type_id" placeholder="Select category">
            <mat-option *ngFor="let item of mattypes" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-select formControlName="project_id" placeholder="Select project">
            <mat-option *ngFor="let project of projects" [value]="project.id">{{project.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div style="width:500px">
        <div style="float:left"><button mat-raised-button class="btn-grad" type="submit">Sauvegarder</button></div>
        <div style="float:right"><button mat-raised-button class="btn-grad" (click)="form.reset()">RESET</button></div>

    </div>
</form>