.matobject {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
  
  .btn-grad {background-image: linear-gradient(to right, #d84d91 0%, #8d7bcd  51%, #AA076B  100%)}
  .btn-grad {
     margin: 10px;
     padding: 5px 15px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
   }

   .btn-grad:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  