.main-div .mat-card {
  padding: 10px;
}

login-form {
  padding: 20px;
}

.main-div {
  margin-top: 100px;
}

.mat-toolbar {
  background: #6200ee;
  color: #fff
}

.mat-raised-button {
  background: linear-gradient(to left, #cd5399 0%, #e20070 100%);
  color: #fff;
}

.mat-form-field {
  margin-right: 15px;
  margin-bottom: 20px;
}

.mat-input-invalid .mat-input-placeholder {
  color: red;
}

.mat-input-invalid .mat-input-ripple {
  background-color: red;
}
