<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="#6200ee">
      <span>Login</span>
    </mat-toolbar>
    <form [formGroup]="form" fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit)="validateUser() ">
      <mat-error *ngIf="this.showMess" style="padding-bottom: 30px">
        The username and password were not recognised {{this.showMess}}
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="userName" type="text" required formControlName="userName" name="userName">
        <mat-error *ngIf="hasError('userName', 'required')">Name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="password" required formControlName="password" name="password">
        <mat-error *ngIf="hasError('password', 'required')">password is required</mat-error>
      </mat-form-field>
      <button mat-raised-button color="#ce5399" >Login</button>


    </form>
  </mat-card>
</div>
