<div class="edit-course-form">

    <h2 mat-dialog-title></h2>

    <mat-dialog-content [formGroup]="form">

        <mat-form-field appearance="outline">
            <mat-label>DailyIcome</mat-label>
            <input class="test" matInput placeholer="dailyIncome" formControlName="dailyIncome" #nom type="number">
            <mat-error *ngIf="hasError('dailyIncome', 'required')">DailyIcome is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">

            <input matInput formControlName="buildDate" placeholder="Release date"
                [matDatepicker]="releasedAtPicker">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
            </mat-datepicker-toggle>
            <mat-datepicker #releasedAtPicker >
            </mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <textarea matInput placeholder="Daily Report" formControlName="dailyReport" cdkTextareaAutosize
                [cdkAutosizeMinRows]="1" [cdkAutosizeMaxRows]="2">
            </textarea>
        </mat-form-field>
     

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button (click)="close()">Close</button>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
    </mat-dialog-actions>

</div>