mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  /* Using 100vh causes double scrollbars to appear on some devices */
  height: 90vh;
}






.mat-sidenav {
   
    width: 180px;
    border-right: none;
    background: #f5f5f5;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    .mat-toolbar.mat-primary{
     position: fixed;
     top: 0;
     right: 0;
     left: 0;
     z-index: 9;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
 }
   
 .content {
     overflow: auto;
     padding-left: 10px;
     padding-right: 10px;
     height: 100%;    
 }
   

 


 .menu-icon {
    
     top:-4px;
 }
 
 .toolbar-spacer {
     flex: 1 1 auto;
 }
 

}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}



.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}
.icon {
    width: 20px;
    margin-right: 8px;
}
.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

.mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.nav-icon {
    margin-right: 10%; 
  }
  
  .nav-link {
    width: 190px;
    margin-top: 3%;
    margin-left: 3%;
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-button {
      color:#797575;
  }
  .mattype-container {
    
      padding: 30px 30px 30px 30px;
  }
  .mat-header-cell {
    background-color: #f5f5f5;
    color: #424242;
    font-size: 14px;
  }
.material-icons.color_green{
    color: #5eba7d;
}
.material-icons.color_red{
    color: #e83112;
}