<div>


  <mat-sidenav-container>

    <mat-sidenav mode="side" fixedTopGap="56" opened="true" class="mat-elevation-z8" style="padding-top: 30px;">
      <mat-list-item class="nav-item" *ngFor="let mattype of mattypes$">
        <!--- <a class="nav-link"  href="/materials/engin" (click)="clickMethod()" ><img
                class="icon"
                src="assets/lorry_charg.png"
              />{{ mattype.name }}</a>-->
        <button mat-button (click)="clickMethod(mattype)">
          <mat-icon>keyboard_arrow_right</mat-icon>
          <span>{{ mattype.name }}</span>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>

      <mat-list-item><button mat-button (click)="matCompType='matType'">
          <mat-icon>device_hub</mat-icon>Gerer Mat-Type
        </button> </mat-list-item>
    </mat-sidenav>

    <mat-sidenav-content class="mattype-container">
      <div class="parent-component" [ngSwitch]="matCompType">
        <div *ngSwitchCase="'matObj'">
          <nav [hidden]="show" class="navbar navbar-expand navbar-dark" style="background-color: #fff;">
            <button mat-raised-button style="background-color: #6200ee;color: #fff;" (click)="onClick()"> Ajouter
              Materiel a {{actualMattype}}<mat-icon>add</mat-icon></button>

          </nav>

          <div *ngIf="!show">
            <mat-table #grid [dataSource]="materials">
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
                <mat-cell *matCellDef="let row">
                 <a [title]="row.name + ' details'"
                  [routerLink]="['/materials', row.id]" >
                  {{row.name}}
                </a>

                 </mat-cell>
              </ng-container>
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="immat">
                <mat-header-cell *matHeaderCellDef> Immat </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.immat}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="assur">
                <mat-header-cell *matHeaderCellDef> Assur </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.assur}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <a (click)="openDialog('Update',row)" style="cursor: hand;cursor: pointer;color:#5eba7d"><span> edit
                    </span></a> |
                  <a (click)="openDialog('Update',row)" style="cursor: hand;cursor: pointer;color: #e83112;"><span>
                      effacer</span></a>

                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="details">
                <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <a (click)="openDialog('Update',row)" style="cursor: hand;cursor: pointer;color:#5eba7d"><span> details
                    </span></a>

                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Statut </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div *ngIf="row.enabled">
                    <mat-icon class="material-icons color_green">done_outline</mat-icon>
                  </div>
                  <div *ngIf="!row.enabled">
                    <mat-icon class="material-icons color_red">highlight_off</mat-icon>
                  </div>

                </mat-cell>
              </ng-container>
              <!-- Header and Row Declarations -->
              <mat-header-row *matHeaderRowDef="['name','description',  'immat', 'assur','action','status','details']">
              </mat-header-row>
              <mat-row *matRowDef="let row; columns: ['name','description',  'immat', 'assur','action','status','details']">
              </mat-row>
            </mat-table>
          </div>
          <div *ngIf="show">
            <app-editmat [mattypes]=this.mattypes$></app-editmat>
          </div>

        </div>
        <div *ngSwitchCase="'matType'">
          <app-mattypemgmt [mattypes$]= this.mattypes$  (customerChange)="update($event)"></app-mattypemgmt>

        </div>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
