
<div class="shadow-lg p-3 mb-5 bg-white rounded " style="margin-top:30px;width:1200px;margin:auto;position:auto">
    <mat-card>
        <button (click)="openDialogAdd()" mat-raised-button style="background-color: #6200ee;color: #fff;margin-left:20px;" > Ajouter un employer
            <mat-icon>add</mat-icon></button>
    </mat-card>
       
    
<div   *ngIf="this.dataSource">

    <mat-table #grid [dataSource]="this.dataSource.employees">
      <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef> Firstname </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef> Laststname </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
      </ng-container>
   
    
      <ng-container matColumnDef="dateofbirth">
        <mat-header-cell *matHeaderCellDef> Date_Naiss </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.dateOfBirth | date: 'dd/MM/yyyy'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef> Tel </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.phoneNumber}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Adresse </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="assur">
        <mat-header-cell *matHeaderCellDef> Assurance </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.assur}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a (click)="openDialog('Update',row)" style="cursor: hand;cursor: pointer;color:#5eba7d;margin-right: 5px;"><mat-icon>edit</mat-icon></a> |
          <a style="cursor: hand;cursor: pointer;color: #e83112;margin-left: 5px;"><mat-icon>delete_forever</mat-icon></a>|
                              <a
                              style="cursor: hand;cursor: pointer;color: #050d5b;margin-left: 5px;"><mat-icon>details</mat-icon>
                               </a>
  
        </mat-cell>
      </ng-container>
  
      <!-- Header and Row Declarations -->
      <mat-header-row *matHeaderRowDef="['firstname','lastname','dateofbirth','phoneNumber','assur','address','action']">
      </mat-header-row>
      <mat-row *matRowDef="let row; columns: ['firstname','lastname','dateofbirth','phoneNumber','assur','address','action']">
      </mat-row>
     
    </mat-table>
   
  
  </div>
</div>
