<div class="grid-container" *ngIf="materielItem">


  <mat-grid-list cols="2" rowHeight="200px" style="">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Details ({{materielItem.name}}    {{materielItem.immat}} )


          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="container" style="margin-left:0px">

            <div class="row">
              <div class="col" style="text-align:left"><span
                style="font-weight: Bold;">Nom:</span> {{materielItem.name}} <br>
                <span style="font-weight: Bold;"> Annee Const:</span> {{materielItem.anneeConst | date:'dd/MM/YYYY'}}
                <br>
                <span style="font-weight: Bold;">description:</span>  {{materielItem.description}}
              </div>
              <div class="col" style="text-align:left">
                <span style="font-weight: Bold;"> Assurance:</span> {{materielItem.assur}} <br>
                <span style="font-weight: Bold;"> Date Assurancet:</span> {{materielItem.dateAssur | date:'dd/MM/YYYY'}}
              </div>
              <div class="col" style="text-align:left">
                <div  fxLayoutAlign="center center" fxFlexFill>
                  <div fxFlex="70">
                    <span  style="font-weight: Bold;"> Projet: {{materielItem.esProject.name}}</span>
                    <br>
                    <span style="font-weight: Bold;"> Location:</span> {{materielItem.esProject.geolocation}} <br>
                  </div>
                  <div fxFlex="30">
                    <button mat-icon-button color="primary"  title="View Contact">
                      <mat-icon class="green-icon">swap_vertical_circle</mat-icon>
                    </button>
                  </div>
                </div>

              </div>
              <div class="col" style="text-align:left">

              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

  </mat-grid-list>


  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Depenses:

          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-matcostdetails [matItem]="materielItem"></app-matcostdetails>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            STAT

          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
