.grid-container {
    margin: 20px;
  background-color: #f5f5f5;
  }

  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
.green-icon{
  color:#5eba7d;
}


  .dashboard-card-content {
    text-align: center;
  }
  .mat-card-title {
    border-bottom: 2px solid #6200ee ;
    color: #6200ee;
  }
