.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }

  /* Page title */
/* ---------------------------------------------------------- */
.center {
    margin: auto;
  
    margin-top: 50px;
    width: 80%;
  
  
  }
  
  .title-holder {
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 10px;
  }
  .table-holder {
    background-color: white;
    padding: 15px;
    padding-top: 5px;
    border-radius: 5px;
    margin-left: 45px;
    margin-right: 45px;
  }
  .list-title {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.5px;
    margin: 5px;
  }
  /* ---------------------------------------------------------- */

  
  
  
  /* Table styles */
  /* ---------------------------------------------------------- */
  .mat-table {
    width: 100%;
    font-size: 18px;
  }
  
  .float-right {
    float: right;
  }
  /* ---------------------------------------------------------- */
  
  /* Header styles */
  /* ---------------------------------------------------------- */
  .mat-header-cell {
    background-color: #f5f5f5;
    color: #424242;
    font-size: 14px;
  }
  .mat-header-cell:not(:first-child) {
    padding-left: 0;
  }
  
  /* Style just the text in the header */
  .mat-header-cell span {
    font-weight: 600;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
  }
  /* Round the top table corners */
  .mat-header-cell:first-child {
    border-top-left-radius: 5px;
  }
  .mat-header-cell:last-child {
    border-top-right-radius: 5px;
  }
  
  .mat-header-row {
    height: 3em;
  }
  
  .btn-icon {
    height: 17px;
    width: 17px;
    background-color: #393939;
    border: none;
  }
  
  .sort-icon {
    height: 17px;
    width: 17px;
    color: white;
  }
  
  ::ng-deep .mat-sort-header-arrow {
    position: relative;
    left: -1.5rem;
    display: none!important;
    opacity: 0;
  }
  
  .header {
    padding: 5px;
  }
  
  
  /* ---------------------------------------------------------- */
  
  
  /* Column styles */
  /* ---------------------------------------------------------- */
  .type-column {
    width: 15%;
  
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .mat-column-lastname {
    width: 2%;
    flex: 0 0 10% !important;
    width: 10% !important;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .mat-column-firstname {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-bureau{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-status {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 12% !important;
    width: 12% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .date-column {
    width: 20%;
    padding-right: 3rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .state-column {
    width: 5%;
  }
  .mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
     text-align: right;
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }


  /* ---------------------------------------------------------- */
  
  /* Cell styles */
  /* ---------------------------------------------------------- */
  .state-cell {
    text-align: right;
  }
  .mat-cell {
    border: none;
   
  }
  
  .green-svg {
    fill: #6dd400;
  }
  .gray-svg {
    fill: #b2b4b6;
  }
  /* ---------------------------------------------------------- */
  .make-green {
    background-color: rgb(47, 141, 47);
    color: white;
    text-align: center;
  }
  .make-red {
    background-color: rgb(189, 52, 18);
    color: white;
    text-align: center;
  }
  .red-icon {
    color: green;
  }
  /* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
  .red-icon svg {
    fill: green;
  }
  .action-link > a {
     color:#350a99;
     margin-left: 20px;
     cursor: pointer;
  }
  
  
  .col-green-color{
    color: #6dd400;
    font-weight: bold;
  }
  .EC {
    background-color: red;
  }
  


  mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }