<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<nav  class="navbar navbar-expand navbar-dark" style="background-color: #fff;">
  <button mat-raised-button style="background-color: #6200ee;color: #fff;margin-left:20px" > Ajouter une entree
    <mat-icon>add</mat-icon></button>
</nav> 


  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="table-responsive">   
  <mat-table #grid [dataSource]="this.incomes" >
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
      <mat-cell *matCellDef="let row">  {{row.userName}} </mat-cell>
   </ng-container>
    <ng-container matColumnDef="builddate">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.buildDate | date: 'dd/MM/yyyy'}} </mat-cell>
   </ng-container>

 <ng-container matColumnDef="dailyincome">
  <mat-header-cell *matHeaderCellDef> DailyIncome</mat-header-cell>
  <mat-cell *matCellDef="let row" class="col-green-color"><div style="word-wrap: break-word;"> {{row.dailyIncome}} </div>  </mat-cell>
</ng-container>
<ng-container matColumnDef="dailyReport">
    <mat-header-cell *matHeaderCellDef> Remarque</mat-header-cell>
    <mat-cell *matCellDef="let row"><div style="word-wrap: break-word;">{{row.dailyReport}} </div>  </mat-cell>
  </ng-container>


    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['username','builddate',  'dailyincome', 'dailyReport']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['username','builddate', 'dailyincome','dailyReport']"></mat-row>
  </mat-table>
  <!--<mat-paginator [length]="dataSource?.totalAmount"
               [pageSize]="dataSource?.itemsPerPage"
               [pageSizeOptions]="[5,10,25,100]"
               (page)="pageEvent = $event ; onPaginateChange($event)"
               aria-label="Select page">
  </mat-paginator>-->
 
</div>
</div>
