
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="table-responsive">   
    
  <mat-table #grid [dataSource]="this.incomes" >
    <ng-container matColumnDef="month">
      <mat-header-cell *matHeaderCellDef> Mois</mat-header-cell>
      <mat-cell *matCellDef="let row">  {{row.month}} </mat-cell>
   </ng-container>
    <ng-container matColumnDef="incomes">
      <mat-header-cell *matHeaderCellDef> Income </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.incomes}} </mat-cell>
   </ng-container>


    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['month','incomes']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['month','incomes']"></mat-row>
  </mat-table>
  <!--<mat-paginator [length]="dataSource?.totalAmount"
               [pageSize]="dataSource?.itemsPerPage"
               [pageSizeOptions]="[5,10,25,100]"
               (page)="pageEvent = $event ; onPaginateChange($event)"
               aria-label="Select page">
  </mat-paginator>-->
 
</div>
</div>