<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<div class="shadow-lg p-3 mb-5 bg-white rounded " style="margin-top:30px;width:1200px;margin:auto;position:auto">
    <!-- <nav  class="navbar navbar-expand navbar-dark" style="background-color: #fff;">
        <button mat-raised-button style="background-color: #6200ee;color: #fff;margin-left:20px" > Ajouter une entree
          <mat-icon>add</mat-icon></button>
      </nav>  -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Gestion des entrees journalieres
            </mat-card-title>
        </mat-card-header>
        <form [formGroup]="form" class="matobject" (ngSubmit)="addMatObject(form.value)">
            <mat-form-field appearance="outline">
                <mat-label>DailyIcome</mat-label>
                <input class="test" matInput placeholer="dailyIncome" formControlName="dailyIncome" #nom type="number">
                <mat-error *ngIf="hasError('dailyIncome', 'required')">DailyIcome is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <textarea matInput placeholder="Daily Report" formControlName="dailyReport" cdkTextareaAutosize
                    [cdkAutosizeMinRows]="1" [cdkAutosizeMaxRows]="2">
        </textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">

                <input matInput formControlName="buildDate" placeholder="Release date"
                    [matDatepicker]="releasedAtPicker">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
                </mat-datepicker-toggle>
                <mat-datepicker #releasedAtPicker [dateClass]="dateClass">
                </mat-datepicker>
            </mat-form-field>

            <div style="width:250px;padding-right: 0px;">
                <div style="float:left"><button mat-raised-button class="btn-grad" type="submit">Sauvegarder</button>
                </div>

            </div>
        </form>


    </mat-card>

    <div class="table-responsive">
        <mat-table #grid [dataSource]="this.dataSource.dailyIncomes">
            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.userName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="builddate">
                <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.buildDate | date: 'dd/MM/yyyy'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dailyincome">
                <mat-header-cell *matHeaderCellDef> DailyIncome</mat-header-cell>
                <mat-cell *matCellDef="let row" class="col-green-color">
                    <div style="word-wrap: break-word;"> {{row.dailyIncome}} </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="dailyReport">
                <mat-header-cell *matHeaderCellDef> Remarque</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <div style="word-wrap: break-word;">{{row.dailyReport}} </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a (click)="openDialog('Update',row)" style="cursor: hand;cursor: pointer;color:#5eba7d;margin-right: 5px;" ><span> edit
                        </span></a> |
                    <a (click)="openDialog('Delete',row)" style="cursor: hand;cursor: pointer;color: #e83112;margin-left: 5px;"><span>
                            effacer</span></a>

                </mat-cell>
            </ng-container>

            <!-- Header and Row Declarations -->
            <mat-header-row *matHeaderRowDef="['username','builddate',  'dailyincome', 'dailyReport','action']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['username','builddate', 'dailyincome','dailyReport','action']"></mat-row>
        </mat-table>
        <mat-paginator [length]="dataSource?.totalAmount" [pageSize]="dataSource?.itemsPerPage"
            [pageSizeOptions]="[10,25,100]" (page)="pageEvent = $event ; onPaginateChange($event)"
            aria-label="Select page">
        </mat-paginator>

    </div>
</div>