.matobject {
    margin: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;

    padding: 5px;

    /* this */
    .mat-form-field {
        
        text-align: center;
       margin-right: 15px;

        
    }
}
.btn-grad {background-image: linear-gradient(to right, #d84d91 0%, #8d7bcd  51%, #AA076B  100%)}
.btn-grad {
   margin-top: 5px;
   padding: 5px 15px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 .grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  .mat-card-title {
    border-bottom: 2px solid #6200ee ;
    color: #6200ee;
  }
  .mat-header-cell {
    background-color: #f5f5f5;
    color: #424242;
    font-size: 14px;
  }
  ::ng-deep .mat-paginator-icon {
    fill: #c8579e !important;
  }