<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<div class="shadow p-5   bg-white rounded " style="margin-top:30px;margin:auto;position:auto">
    <!-- <nav  class="navbar navbar-expand navbar-dark" style="background-color: #fff;">
        <button mat-raised-button style="background-color: #6200ee;color: #fff;margin-left:20px" > Ajouter une entree
          <mat-icon>add</mat-icon></button>
      </nav>  -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Gestion des depenses
            </mat-card-title>
        </mat-card-header>
        <form [formGroup]="form" class="matobject" (ngSubmit)="addMatObject(form.value)">
            <mat-form-field appearance="outline">
                <mat-label>Cout</mat-label>
                <input class="test" matInput placeholer="amount" formControlName="amount" #nom type="number">
                <mat-error *ngIf="hasError('amount', 'required')">DailyIcome is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <textarea matInput placeholder="description" formControlName="description" cdkTextareaAutosize
                    [cdkAutosizeMinRows]="1" [cdkAutosizeMaxRows]="2">
                 </textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">

                <input matInput formControlName="costDate" placeholder="Release date"
                    [matDatepicker]="releasedAtPicker">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
                </mat-datepicker-toggle>
                <mat-datepicker #releasedAtPicker [dateClass]="dateClass">
                </mat-datepicker>
            </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-select formControlName="matCostType" placeholder="Depense-Type" (ngModelChange)="onChange($event)">
              <mat-option *ngFor="let item of matcosttypes" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-select formControlName="type_id" placeholder="Choisir Mat-Type" (ngModelChange)="onChange($event)">
                    <mat-option *ngFor="let item of mattypes" [value]="item">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-select formControlName="materiel" placeholder="Choisr Materiel" >
                    <mat-option *ngFor="let item of materials" [value]="item">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div style="width:250px;padding-right: 0px;">
                <div style="float:left"><button mat-raised-button class="btn-grad" type="submit">Sauvegarder</button>
                </div>

            </div>
        </form>


    </mat-card>


</div>
<div *ngIf="loading" >
  <mat-spinner style="margin:100px auto;height:400px" mode="indeterminate"></mat-spinner>
</div>

<div   *ngIf="this.dataSource">

  <mat-table #grid [dataSource]="this.dataSource.matCosts">
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="costdate">
      <mat-header-cell *matHeaderCellDef> Date_Insertion </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.costDate | date: 'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cout">
      <mat-header-cell *matHeaderCellDef> Cout</mat-header-cell>
      <mat-cell *matCellDef="let row" class="col-green-color">
        <div style="word-wrap: break-word;"> {{row.amount}} </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="matname">
      <mat-header-cell *matHeaderCellDef> matname</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div style="word-wrap: break-word;">
          <a [title]="row.name + ' details'"
             [routerLink]="['/materials', row.matId]" >
            {{row.matname}}
          </a>
        </div>
      </mat-cell>
    </ng-container>





    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div style="word-wrap: break-word;">{{row.matCostType}} </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a
          style="cursor: hand;cursor: pointer;color:#5eba7d;margin-right: 5px;"><span> edit
                        </span></a> |
        <a
          style="cursor: hand;cursor: pointer;color: #e83112;margin-left: 5px;"><span>
                            effacer</span></a>

      </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['description','costdate',  'cout', 'matname','type','action']">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: ['description','costdate',  'cout', 'matname','type','action']">
    </mat-row>
  </mat-table>
  <mat-paginator [length]="dataSource?.totalAmount" [pageSize]="dataSource?.itemsPerPage"
                 [pageSizeOptions]="[10,25,100]" (page)="pageEvent = $event ; onPaginateChange($event)"
                 aria-label="Select page">
  </mat-paginator>

</div>
