
.edit-course-form {
    min-width: 300px;
  }
  
  .mat-form-field {
      display: block;
  }
  
  textarea {
      height: 100px;
      resize: vertical;
  }
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }