<mat-dialog-content>
	<p>
		{{message}}
	</p>
</mat-dialog-content>


<div class="edit-course-form">

    <h2 mat-dialog-title></h2>

    <mat-dialog-content [formGroup]="form">

        <mat-form-field appearance="fill">
            <mat-label>Firstname</mat-label>
            <input class="test" matInput placeholer="firstname" formControlName="firstName" #nom >
            <mat-error *ngIf="hasError('firstName', 'required')">Firstname is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Lastname</mat-label>
            <input class="test" matInput placeholer="lastname" formControlName="lastName" #nom >
            <mat-error *ngIf="hasError('lastName', 'required')">Lastname is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Assur</mat-label>
            <input class="test" matInput placeholer="assur" formControlName="assur" #nom >
          
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input class="test" matInput placeholer="phonenumber" formControlName="phoneNumber" #nom >
            <mat-error *ngIf="hasError('phoneNumber', 'required')">Phone number is required</mat-error>
            <mat-error *ngIf="hasError('phoneNumber', 'pattern')">Phone number is not valid</mat-error>
            
            
        </mat-form-field>

        <mat-form-field appearance="outline">

            <input matInput formControlName="dateOfBirth" placeholder="date Of Birth"
                [matDatepicker]="dateOfBirthPicker">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker">
            </mat-datepicker-toggle>
            <mat-datepicker #dateOfBirthPicker>
            </mat-datepicker>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button (click)="close()">{{cancelButtonText}}</button>
        <button mat-raised-button color="primary" (click)="save()">{{confirmButtonText}}</button>
    </mat-dialog-actions>
    
    

</div>
