<p>{{matItem.name}}  </p>
<div class="table-responsive"  *ngIf="dataSource">
  <mat-table #grid [dataSource]="dataSource.matCosts">
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="costdate">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.costDate | date: 'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cout">
      <mat-header-cell *matHeaderCellDef> Cout</mat-header-cell>
      <mat-cell *matCellDef="let row" class="col-green-color">
        <div style="word-wrap: break-word;"> {{row.amount}} </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a
          style="cursor: hand;cursor: pointer;color:#5eba7d;margin-right: 5px;"><span> edit
                        </span></a> |
        <a
          style="cursor: hand;cursor: pointer;color: #e83112;margin-left: 5px;"><span>
                            effacer</span></a>

      </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['description','costdate',  'cout', 'action']">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: ['description','costdate',  'cout', 'action']">
    </mat-row>
  </mat-table>
  <mat-paginator [length]="dataSource?.totalAmount" [pageSize]="dataSource?.itemsPerPage"
                 [pageSizeOptions]="[5,10,25]" (page)="pageEvent = $event ; onPaginateChange($event)"
                 aria-label="Select page">
  </mat-paginator>

</div>
