<nav class="navbar navbar-expand navbar-dark" style="background-color: #6200ee;">
    <div class="container-fluid"> <a class="navbar-brand">MZHDB / ALGERIE</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item"> <a routerLink="/" routerLinkActiove="active" class="nav-link">Home</a></li>
            <li class="nav-item"> <a routerLink="/dailyincomes" routerLinkActiove="active"
                    class="nav-link">DailyIncome</a> </li>
            <li class="nav-item"> <a routerLink="/dailyincomesdata" routerLinkActiove="active"
                    class="nav-link">DailyIncomeData</a> </li>
            <li class="nav-item"> <a routerLink="/matcosts" routerLinkActiove="active" class="nav-link">Depenses</a></li>

            <li  class="nav-item"> <a routerLink="/employees" routerLinkActiove="active" class="nav-link">Emplyees</a> </li>
            <li class="nav-item"> <a class="nav-link">Projets</a> </li>
            <li class="nav-item">
                <a routerLink="/materials" routerLinkActiove="active" class="nav-link">Materials</a>
            </li>
            <li class="nav-item" style="margin-left: 20px;margin-top: 5px;color:#fff"> <mat-icon>person</mat-icon> </li>
            <li class="nav-item" style="margin-top: 10px;color:#fff">  <span>{{name}} </span></li>

            <li class="nav-item" style="margin-left: 10px;"> <a class="nav-link"  routerLinkActiove="active" style="cursor: hand;cursor: pointer;" (click)="logoutUser()">Logout</a> </li>
        </ul>
    </div>
</nav>
